@import url('https://fonts.googleapis.com/css2?family=Lora&family=Quicksand&display=swap');

/**CSS DO CORPO DA PÁGINA*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}

body{
	margin: 0 auto;
	width: 960px;
	background-image:url(imgs/bkg.png);
	background-repeat: repeat;
	background-color: #DDD;
	padding: 0px;
	overflow-y: scroll;
	background-size: 100%;
}
/**FIM CSS DO CORPO DA PÁGINA*/

/* CSS DA PAGINA INICIAL*/
.mainIndex {
	position: relative;
	z-index: 2;
	text-align: center;
	margin-top: 0px;
	right: 20px;
}

.barra-preta {
	position: absolute;
	height: 250px;
	background-color: rgba(3, 15, 3, 0.719);
	width: 500px;
	z-index: 1;
	padding: 30px;
	margin-top: 130px;
	margin-left: 200px;
	border-radius: 9px;
}
/* CSS DA PAGINA INICIAL*/

/*CSS DA CATEGORIA DOS PROJETOS*/
.categoria1, .categoria2, .categoria3, .categoria4 {
	display: flex;
    justify-content: center;
	color: #fff;
	font-size: 50px;
	line-height: 15px;
	margin-top: 60px;
}
/*FIM DO CSS DA CATEGORIA DOS PROJETOS*/

/*CSS DO BOTÃO*/
.botao1 {
	transition: transform 0.3s ease;
	cursor: pointer;
	width: 200px;
	color: #000;
	font-size: 15px;
	padding: 12px 0;
	background: #fff;
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-top: 30px;
	margin-left: 50px;
}

button:hover {
	transform: scale(1.1);
}
/*FIM DO CSS DO BOTÃO*/

/*CSS DAS PROPRIEDADES DE TÍTULO E TEXTO*/
.CREDhtitle {
	margin-top: 80px;
	color: #fff;
	font-size: 70px;
}

.CREDptitle {
	color: #fff;
	font-size: 20px;
	line-height: 15px;
}

.htitle {
	color: #fff;
	font-size: 70px;
	margin-left: 50px;
	margin-top: -20px;
}

.ptitle {
	margin-left: 50px;
	color: #fff;
	font-size: 20px;
	line-height: 20px;
}
/*CSS DAS PROPRIEDADES DE TÍTULO E TEXTO*/

/*CSS DO MENU*/
.inicio {
	background-color: rgba(3, 15, 3, 0.719);
	padding: 15px;
	border-radius: 7px;

}

.projetos {
	background-color: rgba(3, 15, 3, 0.719);
	padding: 15px;
	border-radius: 7px;
}

.navbar {
	height: 12%;
	display: flex;
	align-items: center;
}

nav {
	margin-top: 30px;
	flex: 1;
	text-align: center;	
	margin-right: 20px;
}

nav ul li {
	transition: transform 0.3s ease;
	list-style: none;
	display: inline-block;
	margin-left: 30px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 17px;
}	

ul, li:hover {
	transform: scale(1.1);
}
/*FIM DO CSS DO MENU*/

/*CSS DOS CARDS DE VIDEOS*/
.video-grid1, .video-grid2, .video-grid3, .video-grid4 {
	display: flex;
}

.card {
	flex: 1;
	margin: 10px;
	background-color: rgba(3, 15, 3, 0.719);
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	color: white;
}
  
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
}
  
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
  
.card-content {
	padding: 10px;
}
/*FIM DO CSS DOS CARDS DE VIDEOS*/

.botaoCat1 {
	position: relative;
	top: 315px;
	margin-left: 1020px;
	display: inline-block;
	padding: 10px 17px;
	background-color: rgba(3, 15, 3, 0.719);
	color: rgb(255, 255, 255);
	border-radius: 99999px;
	text-decoration: none;
	
  }
  
  .botaoCat1:hover {
	background-color: #ffffff;
  }

  .botaoCat2 {
	position: relative;
	top: 280px;
	right: 100px;
	display: inline-block;
	padding: 10px 17px;
	background-color: rgba(3, 15, 3, 0.719);
	color: rgb(255, 255, 255);
	border-radius: 99999px;
	text-decoration: none;
	
  }
  
  .botaoCat2:hover {
	background-color: #ffffff;
  }

  .categoria1 {
	margin-top: 30px;
	margin-left: 30px;
	background-color: rgba(3, 15, 3, 0.719);
	height: 50px;
	width: 95.9%;
	padding: 10px;
	border-radius: 5px;
  }

  .categoria1 p {
	margin-top: 15px;
  }

  .main {
	position: relative;
	margin-top: 70px;
	z-index: 2;
	text-align: center;
	right: 20px;
}